.sign__submit {
  width: 100%;
  color: #000;
  background-color: #fff;
  border: none;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 14px 0;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.sign__submit:hover {
  opacity: 0.85;
}

@media screen and (max-width: 767px) {
  .sign__submit {
    font-size: 16px;
    margin-bottom: 20px;
  }
}