@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);
@import url(./blocks/background/background.css);
@import url(./blocks/page/page.css);
@import url(./blocks/container/container.css);
@import url(./blocks/page/__header/page__header.css);
@import url(./blocks/page/__footer/page__footer.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__link-container/header__link-container.css);
@import url(./blocks/header/__user-mail/header__user-mail.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/content/__profile/content__profile.css);
@import url(./blocks/content/__galery/content__galery.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__editcase/profile__editcase.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__add/profile__add.css);
@import url(./blocks/galery/galery.css);
@import url(./blocks/photo/photo.css);
@import url(./blocks/photo/__element/photo__element.css);
@import url(./blocks/photo/__image/photo__image.css);
@import url(./blocks/photo/__trash/photo__trash.css);
@import url(./blocks/photo/__trash/_type/photo__trash_type_visible.css);
@import url(./blocks/photo/__title/photo__title.css);
@import url(./blocks/photo/__name/photo__name.css);
@import url(./blocks/photo/__like/photo__like.css);
@import url(./blocks/photo/__like-container/photo__like-container.css);
@import url(./blocks/photo/__like-total/photo__like-total.css);
@import url(./blocks/photo/__like/_type/photo__like_type_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/fuuter__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__element-image/popup__element-image.css);
@import url(./blocks/popup/__close/_type/popup__close_type_image.css);
@import url(./blocks/popup/__close/_type/popup__close_type_infotool.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container-image/popup__container-image.css);
@import url(./blocks/popup/__fild/popup__fild.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_descr.css);
@import url(./blocks/popup/__input/_type/popup__input_type_name.css);
@import url(./blocks/popup/__name-image/popup__name-image.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__save/_inactive/popup__save_inactive.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title-image/popup__title-image.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/_type/popup_type_place.css);
@import url(./blocks/popup/_type/popup_type_prof.css);
@import url(./blocks/popup/_type/popup_type_confirm.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__title/_type/popup__title_type_infotool.css);
@import url(./blocks/popup/__title/_type/popup__title_type_confirm.css);
@import url(./blocks/popup/__union-image/popup__union-image.css);
@import url(./blocks/popup/__container-infotool/popup__container-infotool.css);
@import url(./blocks/sign/sign.css);
@import url(./blocks/sign/__title/sign__title.css);
@import url(./blocks/sign/__input/sign__input.css);
@import url(./blocks/sign/__submit/sign__submit.css);
@import url(./blocks/sign/__link/sign__link.css);
@import url(./blocks/sign/__input-error/sign__input-error.css);
@import url(./blocks/menu-burger/menu-burger.css);
@import url(./blocks/menu-burger/__toggle/menu-burger__toggle.css);
@import url(./blocks/prelodaer/preloader.css);
@import url(./blocks/prelodaer/__circle/preloader__circle.css);